html{
  /* background-image: url("/images/love.png"); */
  background-repeat: repeat;
  background-size: cover;
  background-color: (153, 204, 255);
  text-decoration: none;
  font-family: monospace;
}

/* #sketch-holder{
  width:100vh;
  height:100vh;
  border-radius: 100%;
  border-style: dashed;
  z-index: -1;
} */

body{
  margin-top: 1%;
  margin-left: 1%;
  padding: 1em;
  background-color: rgba(153, 204, 255,.2);
}

.name{
  margin-top: 5%;
  margin-bottom: 5%;
  color: black;
  background-color: rgba(255, 255, 255, 0.4);
  border: 1px solid;
  padding: .5em;
  text-decoration: none;
}
.name:hover{
  transition: 0.5s;
  color: red;
  /* box-shadow: 10px 10px 50px blue, 5px 5px 75px red, 5px 5px 100px green; */
}
.name-link{
  margin-right: 10em;
  text-decoration: inherit;
  color: inherit;
}
.name-link:hover{
  color: rgb(153, 0, 0);
}

.main-menu{
  text-decoration: inherit;
  color: inherit;
  margin: 1em;
}
#contact:hover{
    color: rgb(153, 0, 0);
  }
#cv:hover{
    color: rgb(153, 0, 0);
  }


p1{
  /* position: center; */
  padding: .5em;
  margin-top: 2em;
  border-radius: 2%;
  border: 1px solid;
  background-color: rgba(255, 255, 255, 0.1);
  color: rgba(0, 0, 0, 1);
  box-shadow: 5px 5px 20px blue, 10px 10px 20px red, 15px 15px 20px green;
}
p2{
  position: center;
  color: black;
}

.bio{
padding: 2em;
margin-top: 25em;
border: 1px solid;
background-color: rgba(255, 204, 0);
}

.vid{
  padding: .5em;
  margin: .5em;
  position: relative;
  justify-content: center;
  border-style: double;
  background-color: rgba(255, 255, 255, 0.4);
}

.projects{
  z-index: 1;
  margin: 2%;
  color:black;
  background-color: rgba(255, 255, 255, 0.4);
  cursor: cell;
  border: 1px solid;
  padding: 20px;
  box-shadow: 10px 10px 50px blue, 5px 5px 75px red, 5px 5px 100px green;
  text-decoration: none;
  border-radius: 100%;
  vertical-align: middle;
  top: 60%;
  left: 50%;
  /* justify-content: center;
  align-items: stretch; */
}
.projects:hover{
  background-color:red;
  box-shadow: none;
  transition: 0.3s;
}

.home{
  padding: 2%;
  margin: 5em;
  border-radius: 100%;
  background-color: rgba(255, 255, 255, 0.4);
  color:blue;
  text-decoration: inherit;
  box-shadow: 5px 5px 20px orange;
}
.home:hover{
  transition: .2s;
  color: pink;
  background-color: blue;
  cursor:crosshair;
  box-shadow: none;
}

.social{
  color: white;
  padding: 5em;
  background-color:black;
  border-style: double;
}
.social-links{
  color: inherit;
  margin: .5em;
  text-decoration: inherit;
  border-style: dashed;
  border-width: thin;
}
.social-links:hover{
  cursor: zoom-in;
  box-shadow: 5px 5px 20px blue, 10px 10px 20px red, 15px 15px 20px green;
}

canvas {
  border-radius: 100%;
  margin: 50%;
}

iframe {
margin-top: 20px;
margin-bottom: 30px;
/* -moz-border-radius: 12px;
-webkit-border-radius: 12px;
border-radius: 12px;
-moz-box-shadow: 4px 4px 14px #000;
-webkit-box-shadow: 4px 4px 14px #000;
box-shadow: 4px 4px 14px #000;
-moz-transform:rotate(20deg);
-webkit-transform:rotate(20deg);
-o-transform:rotate(20deg);
-ms-transform:rotate(20deg); */
filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=.2);
}
