p1{
  /* position: center; */
  padding: 1em;
  margin: 2em;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.5);
  color: rgba(0, 0, 0,1);
  justify-content: space-around;
}

p2{
  position: center;
  padding: 1em;
  /* margin-top: 2em;
  margin-left: 2em; */
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  justify-content: space-around;
}

html{
  background-image: url("/Images/love_pixel.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}


.vid{
  padding: 3em;
  position: relative;
  justify-content: center;
  border-radius: 100%;
}

a{
  margin: 20em;
  margin-top: 20em;
  color:black;
  background-color: rgba(102, 204, 255, 0.5);
  cursor: cell;
  border-radius: 20%;
  border-style: outset;
  padding: .5em;
}
