html{
  /* background-image: url("/images/love.png"); */
  background-repeat: repeat;
  background-size: cover;
  background-color: rgb(199, 199, 199);
  text-decoration: ;
  font-family: sans-serif;
}

/* Typography */
body {font-family: "courier new", courier, "Andale Mono"; font-size: 14px;}
ul li, p, em {font-size: 18px; font-style: normal;}
h1 {font-size: 20px; font-weight: bolder; border-radius: 2em;margin-right:1em;}
a {text-decoration: none;}

/* #sketch-holder{
  width:100vh;
  height:100vh;
  border-radius: 100%;
  border-style: dashed;
  z-index: -1;
} */

body{
  margin-top: 1%;
  margin-left: 1%;
  padding: 1em;
  /* background-color: rgba(153, 204, 255,.2); */
}

.name{
  margin-top: 2%;
  margin-bottom: 1%;
  color: black;
  background-color: rgba(255, 255, 255, 0.4);
  border: 1px solid;
  padding: .5em;
  text-decoration: none;
  transition: 0.5s ease-in-out;
  font-size: 20px;
}
.name:hover{
  transition: 0.5s;
  color: red;
  /* box-shadow: 10px 10px 50px blue, 5px 5px 75px red, 5px 5px 100px green; */
}
.name-link{
  margin-right: 10em;
  text-decoration: inherit;
  color: inherit;
  font-size: 40px;
}
.name-link:hover{
  color: rgb(153, 0, 0);
}

.main-menu{
  text-decoration: inherit;
  color: inherit;
  margin: 1em;
  line-height: 2.0;
}

#contact:hover{
    color: rgb(153, 0, 0);
  }

#cv:hover{
    color: rgb(153, 0, 0);
  }


p1{
  /* position: center; */
  padding: .5em;
  margin-top: 2em;
  border-radius: 2%;
  line-height: normal;
  font-size: 18px;
  /* border: 1px solid; */
  /* background-color: rgba(255, 255, 255, 0.1); */
  /* color: rgba(0, 0, 0, 1); */
  /* box-shadow: 5px 5px 20px blue, 10px 10px 20px red, 15px 15px 20px green; */
}
p2{
  position: center;
  color: black;
}

.descriptions{
  height: fit-content;
  width: fit-content;
  max-width: 700px;
  display: inline-flex;
  text-align: left;
  margin-left: 3%;
  margin-bottom: 1%;
}

.shoutout{
  width:fit-content;
  height:fit-content;
  padding: 5%;
  margin-top: 15%;
  margin-left: 60%;
  margin-right: 20%;
  background-color: rgba(255,255,255,.4);
  display: inline-block;
  position: sticky;
  top: 0;
}

.shoutout:hover{
  font-size: 20px;
  color: white;
  background-color: black;
}

.bio{
  /* display: block; */
  /* width: fit-content; */
  padding: 2em;
  margin-left: 20%;
  margin-right: 30%;
  margin-top: 15%;
/* border: 1px solid; */
/* background-color: rgba(255, 204, 0, .20); */
}

.vid{
  padding: 1%;
  margin-left: 3%;
  position: relative;
  justify-content: center;
  display: inline-block;
  min-width: 560px;
  min-height: 315px;
  /* border-style: double; */
  /* background-color: rgba(255, 255, 255, 0.4); */
}

.pic{
  /* padding: .5em;
  margin: .5em;
  position: relative;
  justify-content: center; */
  max-width: 50%;
  max-height: 50%;
}

.projects{
  z-index: 1;
  margin: 8%;
  color:black;
  cursor: cell;
  padding: 20px;
  box-shadow: 0px 0px 50px blue, 0px 0px 75px red, 0px 0px 100px green;
  background-color: rgba(255, 255, 255, 0.4);
  transition: box-shadow 2s ease-in-out;
  text-decoration: none;
  border-radius: 100%;
  border: 1px solid;
  top: 60%;
  overflow:visible;
  /* outline: 1px solid black; */
  /* line-height: 7; */
  display: inline-flex;
}

.projects:hover{
  /* background-color:red; */
  box-shadow: none;
  transition: .5s;
}

.phoneprojects{
  z-index: 1;
  margin: 2%;
  color:black;
  /* background-color: rgba(255, 255, 255, 0.4); */
  cursor: cell;
  /* border: 1px solid; */
  padding: 30px;
  box-shadow: 0px 20px 20px blue, 0px 20px 20px red, 0px 20px 20px green;
  transition: box-shadow 2s ease-in-out;
  text-decoration: none;
  border-radius: 100%;
  top: 60%;
  overflow:visible;
  outline: 10px solid transparent;
  line-height: 80;
  display:inline-flex;
}

.phoneprojects:hover{
  /* background-color:red; */
  box-shadow: none;
  transition: .5s;
}

.phonebio{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  margin-top: 50%;
}

/* .icons{
  padding-bottom: 2em;
  margin: 2em;
  display: inline-block;
} */
/* .icons:before,
.icons:after {
  content: "";
  display: table;
}
.icons:after {
  clear: both;
} */

.home{
  padding: 2%;
  margin: 5em;
  border-radius: 100%;
  /* background-color: rgba(255, 255, 255, 0.4); */
  color:blue;
  text-decoration: inherit;
  box-shadow: 5px 5px 20px orange;
}
.home:hover{
  transition: .2s;
  color: pink;
  background-color: blue;
  cursor:crosshair;
  box-shadow: none;
}

.social{
  margin-left: 5%;
  color: black;
  line-height: 2.0;
  /* background-color:black; */
  /* border-style: double; */
  box-sizing: inherit;
  font-size: 14px;
}
.social-links{
  padding: 10px;
  line-height: 5;
  color: inherit;
  margin: 1em;
  text-decoration: inherit;
  border-style: dashed;
  border-width: thin;
  transition:box-shadow 0.3s ease-in-out;
  box-shadow: 0px 0px 20px white;
}
.social-links:hover{
  cursor: zoom-in;
  /* box-shadow: 5px 5px 20px blue, 10px 10px 20px red, 15px 15px 20px green; */
  box-shadow: none;
}


canvas {
  border-radius: 100%;
  margin-left: auto;
  margin-top: auto;
  /* box-shadow: 0px 0px 50px blue, 0px 0px 75px red, 0px 0px 100px green; */
/* box-shadow: 0px 0px 30px white; */
}

iframe {
margin-top: 20px;
margin-bottom: 30px;
/* -moz-border-radius: 12px;
-webkit-border-radius: 12px;
border-radius: 12px;
-moz-box-shadow: 4px 4px 14px #000;
-webkit-box-shadow: 4px 4px 14px #000;
box-shadow: 4px 4px 14px #000;
-moz-transform:rotate(20deg);
-webkit-transform:rotate(20deg);
-o-transform:rotate(20deg);
-ms-transform:rotate(20deg); */
filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=.2);
}
